.App {  
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
  background-color: #AB2A19;
  box-sizing: border-box;
  color: white;
  flex-direction: row;
}

#headbutt {
  display: flex;
  justify-content: center;
  width: 20vw;
  padding: 20px;
  border-radius: 10px;
}

#dashbutt {
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  margin-right: 20px;
  width: 115px;
  color: black;
  font-weight: bold;
  background-color: white;
  border-color: white;
}
#formbutt {
  border-color: white;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  color: black;
  border-radius: 10px;
  width: 120px;
  margin-left: 20px;
  padding: 5px;
}

#dashbutt:hover {
  cursor: pointer;
  background-color: #000000df;
  border-color: #000000df;
  color: white;
}

#formbutt:hover {
  cursor: pointer;
  background-color: #000000df;
  border-color: #000000df;
  color: white;
}

.left-header{
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: 100px;
}

#main-header {
  display: flex;
  flex-direction: row;
}

#shelfie-icon {
  display: flex;
  height: 60px;
  padding: 20px;
}

#logo {
  background-color: #AB2A19;
  height: 100px;
  border: none;
}

#logo:hover {
  cursor: pointer;
}

#product-container {
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#showfloor {
  background-color: white;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  width: 250px;
  height: 330px;
}

.buttons {
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  background-color: white;
  color: black;
  /* border-color: #AB2A19; */
  /* border-width: 2px; */
  width: 100px;
}
#dbuttons:hover {
  background-color: #AB2A19;
  color: white;
}

#ebuttons:hover {
  background-color: #000000df;
  color: white;
}

.buttons:hover {
  cursor: pointer;
}

#product-info {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-button {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#product-butts {
  display: flex;
  justify-content: space-evenly;
  /* padding: 10px; */
  margin-top: 50px;
  position: relative;
  bottom: 0px;
}

#home-feed {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  align-items: center;
  background-color: #000000df;
  /* height: 150vh; */
  flex-wrap: wrap;
}

#prphoto {
  height: 150px;
  border-radius: 3px;
}

#product-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: lightgray;
}

#edit-box {
  height: 700px;
  /* border: black;
  border-style: solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-image {
  height: 200px;
}