body {
  margin: 0;
  font-family: 'Hind';
  background-color: whitesmoke;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  opacity: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 220px;
  width: 100%;
  background-image: url('https://i.etsystatic.com/isbl/4f52d5/39602133/isbl_3360x840.39602133_f44st9i2.jpg?version=0');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: rgba(100, 100, 100, 0.863) 1px 1px 5px 5px;
  background-color: #325260;
}

#logo-container {
  width: 200px;
  height: 175px;
  margin-left: 37px;
  background-color: #325260;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  display: flex;
  width: 280px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 15px;
  background-color: #325260;
  height: 95%;
  margin-bottom: 4px;
}

#inventory {
  font-family: 'Hind';
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  color: black;
  background-color: white;
  width: 120px;
  font-size: 14px;
  font-weight: bold;
  
}

#inventory:hover {
  color: teal;
  cursor: pointer;
  font-weight: bolder;
  box-shadow: rgba(255, 255, 255, 0.116) 1px 1px 4px 4px;
}

#logo {
  height: 90%;
  border-radius: 20%;
}

code {
  font-family: 'Tangerine';
}

#main-shop {
  display: flex;
  justify-content: space-evenly;
}

.sidebar {
  max-width: 240px;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-item-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar-item-icon {
  margin-right: 6px;
}

.sidebar-item-text {
  width: 100%;
}

.sidebar-item-expand-arrow {
  font-size: 1.2rem !important;
}

.sidebar-item-expand-arrow-expanded {
  color: #09bb12;
  font-weight: bold;
}

#dash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  background-color: rgba(233, 233, 233, 0.609);
  border-radius: 15px;
  color: black;
  margin-top: 30px;
}

#dash-container:hover {
  box-shadow: darkgray 2px 2px 5px 5px;
}

#title {
  font-family: 'Tangerine';
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 300px;
}

#showcase {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

#form-btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#form-btn {
  width: 80px;
  color: black;
  background-color: rgb(216, 216, 216);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Hind';
}

#form-btn:hover {
  border: black 2xp;
  background-color: lightgray;
  cursor: pointer;
}

#refinery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  border-radius: 20px;
}

#refinery-btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

#edit:hover {
  border: black 2xp;
  background-color: lightgray;
  cursor: pointer;
}

#product-image {
  width: 100%;
  border-radius: 20px;
}

#price {
  color: teal;
}

#refinery-parent {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#form-page {
  width: 25%;
  height: 73vh;
  margin-top: 100px;
  border-radius: 20px;
  background-color: rgba(233, 233, 233, 0.609);
  display: flex;
  justify-content: center;
  box-shadow: darkgray 2px 2px 5px 5px;
}

#center-parent {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

#home-feed {
  font-family: 'Merienda One';
  text-align: center;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#best-seller {
  margin-top: 50px;
}

h4 {
  font-family: 'Tangerine';
  font-size: 48px;
  margin-left: 100px;
}
span:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

#footlinks {
  font-size: 18px;
  font-weight: bolder;
  font-family: 'Merienda One';
  margin-right: 100px;
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  color: white;
}

#etsy {
  color: white;
  text-decoration-line: none;
}

#footer {
  margin-top: 20px;
  height: 12vh;
  background-color: #325260;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* body {
  margin: 0;
  font-family: 'Tangerine';
  background-color: whitesmoke;
}

#main-header {
  width: 100%;
  height: 250px;
  background-image: url('https://i.etsystatic.com/isbl/4f52d5/39602133/isbl_3360x840.39602133_f44st9i2.jpg?version=0');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: black 1px 1px 10px 5px;
  background-color: teal;
}

#left-header {
  display: flex;
  padding-left: 50px;
  align-items: center;
}

#brand {
  padding-left: 20px;
  color: teal;
  text-shadow: white 1px 4px 4px;  
}

#logo {
  width: 150px;
}

#product-form {
  display: flex;
  justify-content: space-evenly;
}
 #list {
   display: flex;
   justify-content: center;

 }
 #home-feed {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
 } */